<!-- <p>home-page works!</p> -->
<!-- <app-card></app-card> -->
<!-- <app-gps></app-gps> -->

<!-- <header class="header">
    <div class="logo">
      <h1>SocialApp</h1>
    </div>
    <nav class="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/messages">Messages</a></li>
        <li><a href="/notifications">Notifications</a></li>
        <li><a href="/settings">Settings</a></li>
      </ul>
    </nav>
    <div class="search-bar">
      <input type="text" placeholder="Search..." />
      <button>Search</button>
    </div>
  </header> -->
  
  
<!--   
  <div class="profile-header">
    <div class="profile-card">
      <div class="profile-left">
        <img  alt="Profile Image" class="profile-image">
      </div>
      <div class="profile-middle">
        <h2>Tom Krackeler</h2>
        <p> tomkrackeler</p>
        <p class="follow-info">
          <strong>3</strong> following <strong>9</strong> followers
        </p>
        <p class="bio">
          Lover of challenging hikes, long walks exploring new cities, and anything that gets me out in nature.
        </p>
        <div class="profile-location">
          <i class="location-icon"></i>
          <p>San Francisco, California</p>
        </div>
      </div>
      <div class="profile-right">
        <button class="follow-btn">Follow</button>
      </div>
    </div>
    </div>
    
  
    <div>
      <app-card></app-card>
    </div> -->
    <div>
      <lib-wander-library></lib-wander-library>
      <!-- <lib-itinerary></lib-itinerary> -->

    </div>
    
    <div>
        <app-gps></app-gps>

    </div>
    