<mat-sidenav-container class="agency-container">
    <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="sidenavOpened" class="agency-sidenav"
        [fixedInViewport]="isMobile">
        <mat-toolbar color="primary">
            <span>Agency Portal</span>
            <span class="spacer"></span>
            <button mat-icon-button *ngIf="isMobile" (click)="sidenav.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item *ngFor="let p of menuItems" [routerLink]="[p.route]" routerLinkActive="selected"
                (click)="closeSidenavOnMobile()">
                <mat-icon matListItemIcon>{{ p.icon }}</mat-icon>
                <span matListItemTitle>{{ p.label }}</span>
            </a>
        </mat-nav-list>

        <div class="sidenav-footer">
            <mat-nav-list>
                <a mat-list-item (click)="closeSidenavOnMobile()">
                    <mat-icon matListItemIcon>logout</mat-icon>
                    <span matListItemTitle>Logout</span>
                </a>
            </mat-nav-list>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- Mobile Header with Menu Toggle -->
        <mat-toolbar class="mobile-header" *ngIf="isMobile">
            <button mat-icon-button (click)="toggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Agency Portal</span>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>