<div class="empty-state">
    <div class="empty-icon-wrap">
        <mat-icon class="empty-icon">{{ icon }}</mat-icon>
    </div>

    <h3 class="empty-title">{{ title }}</h3>
    <p class="empty-subtitle" *ngIf="subtitle">{{ subtitle }}</p>

    <ng-container *ngIf="ctaLabel">
        <a
            *ngIf="ctaRoute; else ctaButton"
            mat-raised-button
            color="primary"
            class="empty-cta"
            [routerLink]="ctaRoute"
        >
            <mat-icon *ngIf="ctaIcon">{{ ctaIcon }}</mat-icon>
            {{ ctaLabel }}
        </a>

        <ng-template #ctaButton>
            <button
                mat-raised-button
                color="primary"
                class="empty-cta"
                [disabled]="ctaDisabled"
                (click)="onCtaClick()"
            >
                <mat-icon *ngIf="ctaIcon">{{ ctaIcon }}</mat-icon>
                {{ ctaLabel }}
            </button>
        </ng-template>
    </ng-container>
</div>
