<app-navbar></app-navbar>
<div class="home-container">
  <!-- Left Panel -->
  <div class="list-panel">
    <div class="filter-bar">
      <input type="text" placeholder="Search places..." [(ngModel)]="searchTerm" (ngModelChange)="filterPlaces()" />
    </div>
    <div class="places-list">
      <lib-trip-card *ngFor="let place of filteredPlaces" [place]="place" (cardClick)="onPlaceSelected(place)"></lib-trip-card>
    </div>
  </div>

  <!-- Right Panel -->
  <div class="map-panel">
    <lib-gps [places]="filteredPlaces" [selectedPlace]="selectedPlace"></lib-gps>
  </div>
</div>
